/* PREVIEW 1 */
.preview1 .linear-gradient {
 background: linear-gradient(to right, red, yellow);
 height: 40vh;
}

/* PREVIEW 2 */
.preview2 .radial-gradient {
 background: radial-gradient(circle closest-side at center, red, yellow 50%, green);
 height: 60vh;
}