* {
 box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;

}


/* START HEADER */
header .black {
  position: fixed;
  top: 0;
  right: 0;
  color: #ff3131;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  padding: 0px 4px;
  background-color: black;
  
}

header h1 {
  text-align: center;
  color:#ff3131;
}
/* ENDS HEADER */


/* START MAIN */
main {
  display: block;
  max-width: 1700px;
  margin: 5vh auto; /* centers horizontally */
  padding: 20px;
  background-color: whitesmoke;
  border: red 2px solid;
  border-radius: 4px;
  box-shadow: 0 1px 2px #ff3131;
  font-size: x-large;
}


.sub-title {
color: darkblue;
border-bottom: darkblue 2px solid;
}

.sub-title .hint {
  background-color: darkblue;
  color: white;
  padding: 5px;
  font-size: smaller;
  font-weight: bold;
  border-radius: 4px;
}

.hinty {
  font-weight: 600;
}

.userstory {
  font-weight: bold;
  font-size: x-large;
  color: black;
}

.codeFiles {
  background-color: #2a2a72;
  border-radius: 8px;
  direction: ltr;
  padding: 8px;
}

.file-name {
  color: #ccc;
  font-weight: 600;
}

.code-block code .tag {
  color: #ff6b6b;
}

.code-block code .tag-b {
  color: rgb(79, 164, 250);
}

.code-block code .tag-g {
  color: rgb(179, 177, 177);
}

.code-block code .attr {
  color: #feca57;
}

.code-block code .value {
  color: yellowgreen;
}

.code-block code .txt {
  color: whitesmoke;
}

.code-block code .jsblue {
  color: lightblue;
}

.code-block code .jsgreen {
  color: lightgreen;
}

.code-block code .jsyellow {
  color: yellow;
}

.br-spec {
  border: green double 2px;
  padding: 2px;
  font-weight: 900;
  background-color: white;
  font-size: 1rem;
  color: black;
}



.br {
  border: #1e1e1e dashed 1px;
  padding: 2px;
  font-weight: 900;
  background-color: rgb(198, 198, 198);
  font-size: 1rem;
  color: black;
}

.br-white {
  border: #1e1e1e solid 1px;
  padding: 2px;
  font-weight: 900;
  background-color: white;
  font-size: 1rem;
  color: black;
  
}

.br-white2 {
  border: #1e1e1e solid 1px;
  padding: 2px;
  font-weight: 900;
  background-color: white;
  font-size: 1rem;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.long-link {
  overflow-x: auto;
}


.code-block {
  background: #0c0c25;
  padding: 20px;
  border-radius: 6px;
  font-family: "Fira Code", monospace;
  color: #ffffff;
  direction: ltr;
  overflow-x: auto;
  font-size: 1rem;
  min-width: 100%;
}



.code-block pre {
  overflow-x: auto;
 
}

.code-block * {
  display: inline;
}

.code-block code {
  color: #fff;
  line-height: 1.8;
  font-size: 1.1rem;
  
}


.preview {
  background-color: white;
  border: rgba(255,255,255,0.04) 4px solid;
  border-radius: 8px;
  box-shadow: 0 4px 8px #9aa6b2;
  padding: 20px;
  overflow-x: auto;
}

.preview button {

  font-size: 1rem;
}


.questions {
  margin:40px 10px;
  padding: 10px;
  background-color: #9aa6b2;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0b1220;
}
.pquestions {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.questions p {
  margin-right: 20px;
}


.nw {
  white-space: nowrap;
}





/* START PAGENAV */
.page-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}


.page-nav a {
  color: #ff3131;
  font-weight: 600;
}
/* ENDS PAGENAV */
/* ENDS MAIN */




/* START FOOTER */
footer {
  text-align: center;
  font-weight: bold;
}
/* ENDS FOOTER */




/* Responsive: for tablets and below (≤ 768px) */
/* متجاوب: للأجهزة اللوحية وما دونها (≤ 768px) */

@media (max-width: 768px) {
  main {
    font-size: large;
  }
  .userstory {
  font-size: larger;
  }
}

/* Responsive: for phones (≤ 480px) */
/* متجاوب: للهواتف (≤ 480px) */

@media (max-width: 480px) {
 
}