/* PREVIEW 2 */
.p2 {
    margin-top: 20px;
    border: 2px solid black;
}
/* PREVIEW 2 */

/* PREVIEW 3 */
.p3 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 2px solid black;
}
/* PREVIEW 3 */

/* PREVIEW 4 */
.p4 {
    margin: 10px;
}
/* PREVIEW 4 */

/* PREVIEW 5 */
.p5 {
    margin: 10px 20px;
}
/* PREVIEW 5 */

/* PREVIEW 6 */
.p6 {
    margin: 10px 20px 30px;
}
/* PREVIEW 6 */

/* PREVIEW 7 */
.p7 {
    margin: 10px 20px 30px 40px;
}
/* PREVIEW 7 */


/* PREVIEW 8 */
.p8 {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    border: 2px solid black;
}
/* PREVIEW 8 */

/* PREVIEW 9 */
.p9 {
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
}
/* PREVIEW 9 */